/* 默认主题样式 */
.default-theme {
    -fx-text-fill: black;
    -fx-background-color: #73a9c2;
}

/* 深色模式样式 */
.dark-theme {
    -fx-text-fill: white;
    -fx-background-color: #303030;
}

/* 黄色模式样式 */
.yellow-theme {
    -fx-text-fill: black;
    -fx-background-color: yellow;
}
